.new_section {
    margin: 40px auto;
    padding: 50px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.new_section h1 {
    color: #333;
    font-size: 3.5rem;
}

.new_section p {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
}