.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 10px 20px;
    flex-direction: row;
}

.item {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 30px;
    list-style: none;
}

.itens {
    color: #fff;
    text-decoration: none;
}
